[main]
debug=true
log_stdout=true

# When acting as a radius client,
# how does duoauthproxy contact a radius server?
[radius_client]
host=RADIUSD_IP
secret=testing123
port=1812

[radius_server_auto]
client=radius_client
failmode=secure
radius_ip_1=172.17.42.1
radius_secret_1=foo
port=1812
ikey=IKEY
skey=SKEY
api_host=API_HOST
